version: '3.9'

services:
  db:
    image: postgres:16
    container_name: porto_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: porto_ahmad
    ports:
      - '5432:5432'

  web:
    build: .
    container_name: porto_next
    command: npm run dev
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - db
