services:
  postgres:
    image: postgres:16
    container_name: porto_postgres
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: porto_web
    restart: always
    expose:
      - "3000"     
    env_file: .env
    volumes:
      - ./public/uploads:/app/public/uploads
    depends_on:
      - postgres


  nginx:
    image: nginx:alpine
    container_name: porto_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - web

volumes:
  postgres_data: